html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #272727;
  min-width: 100vw;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
